---
title: bech Smartly -  seekh kar bech, smartly bech.
---
<nav class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="#"><img data-src="<%= asset_path :images, 'logo.png' %>" class="nav-logo lazy" /></a>
        <div class="tagline">seekh kar <span class="ctx-bold">bech</span>, smartly <span class="ctx-bold">bech</span></div>
      </div>
      <div class="col-md-9 content-right nav-main">
        <ul>
          <li style="display:none;"> <a href="#home"></a> </li>
          <li> <a href="#our-seminars">Our seminars &amp; workshops</a> </li>
          <li> <a href="#benefits">Benefits</a> </li>
          <li> <a href="#faqs">FAQs</a> </li>
          <li> <a href="#what-people-are-saying">What people are saying</a> </li>
          <li> <a href="#contact-us">Contact Us</a> </li>
          <li> <a href="#about-us">About us</a> </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img data-src="<%= asset_path :images, 'logo.png' %>" class="display-logo lazy" />
        <div class="tagline">seekh kar <span class="ctx-bold">bech</span>, smartly <span class="ctx-bold">bech</span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3 class="title special-font">Seminars and training on “How to become a better service provider” for existing and budding providers like Travel agents, Real Estate agents, Insurance agents etc.</h3>
        <br>
        <p>
          bechSmartly is the first in its kind initiative to educate and empower providers in modern age service industry.
          We aim to give you knowledge about increasing your sales &amp; revenue by 100% and reducing your efforts by 50%.
          <br><br>
          <mark>Our seminars are absolutely FREE of cost</mark> and we strongly encourage you to attend them. Please do not hesitate to register!<br>
        </p>
        <br>
        <p class="ctx-center-big"><span class="underline">Kindly scroll below to know more</span> &nbsp;&nbsp;&nbsp;&#8595;</p>
      </div>
      <div class="col-md-6">
        <img data-src="<%= asset_path :images, 'graphics.png' %>" class="graphic lazy" />
      </div>
    </div>
  </div>
  <br>
</header>

<section class="content-para" id="our-seminars">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">Our seminars &amp; workshops</h1>
        <p>
          A service provider today, needs better understanding about their customers to serve them better, thus leading to a professional growth.
          By attending our seminar you come to know about:
          <ul>
            <li>What exactly service means ?</li>
            <li>How big is service sector of India ?</li>
            <li>Why their is a need for organized &amp; better service providers in India ?</li>
            <li>How you can be a better service provider ?</li>
          </ul>
        </p>
        <br>
        <h3>Upcoming seminar</h3>
        <div class="pre">
          <div class="bold">Topic</div>
          <div>“Changing Trends in Service Industry”</div>
          <br>
          <div class="bold">Venues &amp; Dates</div>
          <div>
            <% data.next_session.dates.split(',').each do |day| %>
              <%= day %><br>
            <% end %>
          </div>
          <!-- <br>
          <div class="bold">Timings</div>
          <div>Morning slot (&nbsp;11am-2pm&nbsp;) &amp; Evening Slot (&nbsp;3pm-6pm&nbsp;)</div> -->
          <br>
          <div class="bold">Speaker</div>
          <div><a href="http://in.linkedin.com/in/sonubajaj">Sonu Bajaj</a> <span class="small">(CEO In-Focus)</span></div>
          <br>
          <!-- <div class="bold">Price</div>
          <div>FREE (<del>₹ 1500</del>)</div> -->
        </div>
        <br><br>
        <h3>Our workshops <!-- <span class="series-price">(price: ₹ 6999 + Tax's)</span> --></h3>
        <p>
          Workshops tell you more about how and what to do as a better service provider.
          These are mainly focused on steps, of great service delivery.
          We cover the following topics in our workshops:
        </p>
        <br>
        <table class="table ">
          <% data.series.series.each_with_index do |data, index| %>
          <tr class="series-row">
            <td>#<%= index+1 %></td>

            <td class="bold">
              <%= data.keys.first %>
              <span class="desc">
                <ul>
                  <% data.values.first.each do |desc| %>
                  <li><%= desc %></li>
                  <% end %>
                <ul>
              </span>
            </td>
            <td>
              <span class="glyphicon glyphicon-plus-sign"></span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-5">
        <div class="register-container">
          <div id="register" class="panel panel-primary ">
            <div class="panel-heading">
              <h3 class="panel-title">Upcoming seminar</h3>
            </div>
            <div class="pre col-md-11 ctx-mrgn-s">
              <div class="bold">Topic</div>
              <div>“Changing Trends in Service Industry”</div>
              <div class="bold ctx-mrgn-s">Venues &amp; Dates</div>
              <div><%= data.next_session.dates %></div>
              <!-- <div class="bold ctx-mrgn-s">Price</div>
              <div>FREE (<del>₹ 1500</del>)</div> -->
            </div>
            <div class="clearfix"></div>
            <br><br><br>
            <form class="register" validate="novalidate" action="http://app.bechsmartly.in/register" method="post">
              <div class="input-group form-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                </span>
                <input type="text" class="form-control" name="fullname" required placeholder="Full Name (e.g John Doe)">
              </div>
              <div class="input-group ctx-mrgn-m form-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input type="email" class="form-control" name="email" required placeholder="Email (e.g abc@domain.com)">
              </div>
              <div class="input-group ctx-mrgn-m form-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-phone"></span>
                </span>
                <input type="text" class="form-control" name="mobile" required placeholder="Mobile (e.g 9876543210)">
              </div><br>
              <div class="content-center">
                <input type="submit" class="btn btn-primary btn-lg" value="Register now">
                <span class="glyphicon glyphicon-refresh loader"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-para" id="benefits">
  <hr class="green-line">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="title">How does it help you</h1>
        <br><br>
        <% data.benefits.benefits.each do |benefit| %>
          <p class="benefit">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;
            <%= benefit %><br>
          </p><br>
        <% end %>
      </div>
    </div>
  </div>
  <br>
</section>

<section class="content-para" id="faqs">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">FAQs</h1>
      <br><br>
      <div class="list-group ">
        <% data.faqs.faqs.each_with_index do |faq, index| %>
          <a href="#" class="list-group-item faq <%= 'current' if index == 0 %>">
            <div class="list-group-item-heading">
              <span class="col-md-1">Q: </span> <span class="col-md-10"><%= faq.q %></span>
              <span class="clearfix"></span>
              <span class="glyphicon glyphicon-plus-sign"></span>
              <span class="glyphicon glyphicon-minus-sign"></span>
            </div>
            <p class="list-group-item-text"><span class="col-md-1"><small>Ans: </small></span><small class="col-md-10"><%= faq.a %></small></p>
            <span class="clearfix"></span>
          </a>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</section>

<section class="content-para green-textured-back" id="what-people-are-saying">
  <div class="container">
    <div class="col-md-8" id="container">
      <h1 class="title">What people are saying</h1>
      <br><br><br>
      <img data-src="<%= asset_path :images, 'sticky5-new.png' %>" class="lazy sticky sticky1" />
      <img data-src="<%= asset_path :images, 'sticky2-new.png' %>" class="lazy sticky sticky2" />
      <img data-src="<%= asset_path :images, 'sticky3-new.png' %>" class="lazy sticky sticky3" />
      <img data-src="<%= asset_path :images, 'sticky4-new.png' %>" class="lazy sticky sticky4" />
      <img data-src="<%= asset_path :images, 'sticky1-new.png' %>" class="lazy sticky sticky5" />
    </div>
  </div>
  <br><br>
</section>

<section class="content-para" id="contact-us">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">Contact us</h1>
      <br><br>
      <p>&nbsp;&nbsp;You can easily reach us here:</p><br>
      <div class="col-md-5">
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-map-marker ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">Shop no. 45, Bhanumati Shopping Complex, Bangur Nagar, Goregaon (W), Mumbai - 400090</span>
        </p>
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-phone ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">+91-8879779807</span>
        </p>
        <p class="clearfix">
          <span class="col-md-2 ctx-no-pad"><span class="glyphicon glyphicon-envelope ctx-glyph-red"></span></span>
          <span class="col-md-10 ctx-no-pad">support@bechsmartly.in</span>
        </p>
      </div>
      <div class="col-md-7 content-right" id="map-container"></div>
    </div>
  </div>
  <br>
</section>

<section class="content-para " id="about-us">
  <hr class="green-line">
  <div class="container">
    <div class="col-md-7" id="container">
      <h1 class="title">About us</h1>
      <br><br>
      <%= partial 'about' %>
    </div>
  </div>
  <br><br><br><br><br>
</section>

<div class="modal fade" role="dialog" id="successModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Thank you for registering</h4>
      </div>
      <div class="modal-body">
        <p>You have successfully registered for the upcoming session. Our representative shall get in touch with you shortly.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" role="dialog" id="errorModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Oops some error occurred.</h4>
      </div>
      <div class="modal-body">
        <p>Seems some server issue has occurred. Please submit again or come back later.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
